[submodule "vim/pack/js947/start/vim-gitgutter"]
	path = vim/pack/js947/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/pack/js947/start/vim-surround"]
	path = vim/pack/js947/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/pack/js947/start/vim-repeat"]
	path = vim/pack/js947/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "vim/pack/js947/start/vim-autoread"]
	path = vim/pack/js947/start/vim-autoread
	url = https://github.com/djoshea/vim-autoread
[submodule "vim/pack/js947/start/julia"]
	path = vim/pack/js947/start/julia
	url = https://github.com/JuliaEditorSupport/julia-vim
[submodule "vim/pack/js947/start/ledger"]
	path = vim/pack/js947/start/ledger
	url = https://github.com/ledger/vim-ledger
