[submodule "vim/pack/js947/start/vim-gitgutter"]
	path = vim/pack/js947/start/vim-gitgutter
	url = github:airblade/vim-gitgutter
[submodule "vim/pack/js947/start/vim-surround"]
	path = vim/pack/js947/start/vim-surround
	url = github:tpope/vim-surround
[submodule "vim/pack/js947/start/vim-repeat"]
	path = vim/pack/js947/start/vim-repeat
	url = github:tpope/vim-repeat
[submodule "vim/pack/js947/start/vim-autoread"]
	path = vim/pack/js947/start/vim-autoread
	url = github:djoshea/vim-autoread
